<div class="container">
  <h2>Ajouter un produit électronique</h2>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Nom</label>
      <input formControlName="name" />
      <div *ngIf="submitted && productForm.get('name')?.invalid">Nom requis</div>
    </div>

    <div>
      <label>Company Name</label>
      <input formControlName="companyName" />
      <div *ngIf="submitted && productForm.get('companyName')?.invalid">Marque requise</div>
    </div>

    <div>
      <label>Image</label>
      <input type="file" (change)="onImageSelected($event)" accept="image/*" />
      <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview" width="200" />
      <div *ngIf="submitted && productForm.get('image')?.invalid">Image requise</div>
    </div>

    <div>
      <label>Prix</label>
      <input type="text" formControlName="price" />
      <div *ngIf="submitted && productForm.get('price')?.invalid">Prix invalide</div>
    </div>

    <div>
      <label>Description</label>
      <textarea formControlName="description"></textarea>
    </div>

    <div>
      <label>
        En stock
        <input type="text" formControlName="quantityinstock" />
      </label>
    </div>

    <button type="submit">Ajouter</button>
  </form>
</div>
