<div class="background-wrapper">
  <img src="assets/background.jpg" class="bg-image" alt="background" />

  <div class="hero-home">
  <div class="hero-text">
    <h1>NeoBoard<br>Where Innovation Meets Intelligence</h1>
    <p>Explorez notre sélection de cartes programmables pour vos projets embarqués, robotiques ou IoT..</p>
    <div class="hero-buttons">
      <button class="btn primary" routerLink="/shop">Voir les produits</button>
      <button class="btn secondary" routerLink="/add">Ajouter un produit</button>
    </div>
  </div>
</div>
