<div class="form-container">
  <div class="form-card">
    <h2 class="form-title">Mettre à jour un produit</h2>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" placeholder="Product name" required />
      </div>

      <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text" id="companyName" formControlName="companyName" placeholder="companyName" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" rows="3" placeholder="Description"></textarea>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" id="price" formControlName="price" placeholder="Ex: 120.00" required />
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" id="image" (change)="onImageSelected($event)" accept="image/*" />
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview" width="200" />
      </div>

      <div class="form-group">
        <label for="quantityinstock">Quantity In Stock</label>
        <input type="text" id="quantityinstock" formControlName="quantityinstock" placeholder="Ex: 15" />
      </div>
      <button type="submit" class="submit-button">Enregistrer</button>
    </form>
  </div>
</div>